.title {
    background-color: green;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.sub-title {
    font-size: 22px;
    color: red;
}