


<div class="main-container">
    <div *ngFor="let restaurant of restaurants;let i = index" class="cards">
      <div class="sub-container">
        <h2>{{ restaurant.name }}</h2>
        <p>{{ restaurant.description }}</p>
        <p>{{ restaurant.location }}</p>
        <button (click)="deleteRestaurant(restaurant.id)">Delete</button>
        <button (click)="startEditing(i)">Edit</button>
        <app-restaurant-form *ngIf="editIndex === i"  [restaurant]="restaurant" (cancelEdit)="removeEditIndex()"></app-restaurant-form>
      </div>
    </div>
</div>
   
